	a:hover {
		text-decoration: underline;
	}
	body{
		background-color:#9be3de;
	}
	A {text-decoration: none;}
	img
	{
		height: 170px;
  width: 150px;
  line-height: 300px;
  border-radius: 50%;
  background-color: #9be3de;
	}
	hr{
		border-style: dotted none none;
		border-width:5px;
		color:white;
		width:40px;
	}
	h3{
		color:#F35588;
	}
	h1{
		color:#F35588;
	}